<div class="modal-header">
    <h2 class="modal-title">Change Password</h2>
    <button class="back-btn" (click)="http.goBack()" >Back</button>
</div>


<form [formGroup]="form" (ngSubmit)="finalSubmit()" autocomplete="off">
    <div class="modal-body">

        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Current Password</mat-label>

                    <input matInput placeholder="Current password"
                           formControlName="currentPassword" [type]="hideCurrent ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hideCurrent = !hideCurrent">{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New password" type="password"
                           formControlName="password">
                    <mat-error *ngIf="form.controls['password'].hasError('minlength')
                             && form.controls['password'].touched">
                        Password must be of 6-15 characters.
                    </mat-error>
                    <mat-error *ngIf="form.controls['password'].hasError('maxlength')
                             && form.controls['password'].touched">
                        Password must be of 6-15 characters.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm password" [type]="hideConfirm ? 'password' : 'text'"
                           formControlName="confirmPassword">
                    <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid || isLoading" >
            <i [ngClass]="{ 'fa fa-spinner fa-spin': isLoading}" ></i>
            Submit
        </button>
        <button type="button" class="btn btn-outline-danger" [disabled]="isLoading" (click)="http.goBack()">
            Cancel
        </button>
    </div>
</form>
