.modal-header {

    .back-btn {
        background: #FFFFFF;
    border: 1px solid #4776E6;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4776E6;
    padding: 8px 30px;
    margin-right: 20px;
    transition: 0.2s all ease;
    &:hover {
        background: #4776E6;
        color: #FFFFFF;
    }
}
    
}

h2 {
    font-weight: 500 !important;
}

form {
    width: 500px !important;
}
.modal-body {
    padding: 20px 20px 0px 20px !important;
}
.modal-footer {
    border-top: none !important;
}

