<div class="modal-header email_str_header">
    <section id="close" class="navigation">
        <button class="icon-only" type="button" aria-label="Close" (click)="http.hideModal()">
            <img src="/assets/images/ic_close.svg">
        </button>
    </section>
    <section class="text">
        <h4>Add a contact</h4>
    </section>
</div>
<form [formGroup]="form" autocomplete="off">
    <div class="modal-body">
        <div class="row">
            <div class="avatar-wrapper col-md-12 text-center">
                <div class="avatar avatar default show-avatar">
                    <svg width="27" height="29" viewBox="0 0 27 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4498 16.2591C4.77661 16.2591 0 20.3622 0 27.8126C0 28.3945 0.471612 28.8661 1.0535 28.8661H25.8461C26.428 28.8661 26.8996 28.3945 26.8996 27.8126C26.8996 20.3626 22.123 16.2591 13.4498 16.2591ZM2.14534 26.7591C2.55973 21.1885 6.3576 18.3662 13.4498 18.3662C20.542 18.3662 24.34 21.1885 24.7547 26.7591H2.14534Z" fill="#4776E6"/>
                        <path d="M13.4497 0C9.46565 0 6.46143 3.06466 6.46143 7.12841C6.46143 11.3112 9.59633 14.7137 13.4497 14.7137C17.303 14.7137 20.4379 11.3112 20.4379 7.12875C20.4379 3.06466 17.4337 0 13.4497 0ZM13.4497 12.607C10.758 12.607 8.56843 10.1495 8.56843 7.12875C8.56843 4.21896 10.6214 2.107 13.4497 2.107C16.2327 2.107 18.3309 4.26565 18.3309 7.12875C18.3309 10.1495 16.1414 12.607 13.4497 12.607Z" fill="#4776E6"/>
                        </svg>
                </div>
            </div>

            <div class="col-md-12 toggle-btn-group">
                <div class="new-tags-grid-mains-area">
                        <div (click)="form.get('contactsType').setValue(4)" [ngClass]="{'employee-tag' : form.get('contactsType').value == 4}" class="comman-grid-tags ">Employee</div>
                        <div (click)="form.get('contactsType').setValue(1)" [ngClass]="{'lead-tag' : form.get('contactsType').value == 1}" class="comman-grid-tags ">Lead</div>
                        <div (click)="form.get('contactsType').setValue(2)" [ngClass]="{'client-tag' : form.get('contactsType').value == 2}" class="comman-grid-tags ">Client</div>
                        <div (click)="form.get('contactsType').setValue(3)" [ngClass]="{'other-tag' : form.get('contactsType').value == 3}" class="comman-grid-tags ">Other</div>
                </div>
            </div>

            <div class="col-md-6 input-field">
                <mat-form-field class="full-width my-form-field" appearance="outline" hintLabel="Max 26 characters">
                    <mat-label class="required">First Name<span class="red-req">*</span> </mat-label>
                    <input matInput  appInputRestriction="noSpecialChars" placeholder="Enter first name" pattern="(^[a-zA-Z](.)*)$" type="text" maxlength="26" #input
                           formControlName="firstName">
                    <mat-error *ngIf="!form.get('firstName').valid">
                        Please enter valid first name.
                    </mat-error>
                    <mat-hint align="end">{{input.value?.length || 0}}/26</mat-hint>

                </mat-form-field>
            </div>

            <div class="col-md-6 input-field">
                <mat-form-field class="full-width" appearance="outline"  hintLabel="Max 26 characters">
                    <mat-label class="required">Last Name<span class="red-req">*</span></mat-label>
                    <input matInput  appInputRestriction="noSpecialChars" placeholder="Enter last name" type="text" pattern="(^[a-zA-Z](.)*)$"
                           formControlName="lastName" maxlength="26" #input1>
                    <mat-error *ngIf="!form.get('lastName').valid">
                        Please enter valid last name.
                    </mat-error>
                    <mat-hint align="end">{{input1.value?.length || 0}}/26</mat-hint>

                </mat-form-field>
            </div>

            <div class="col-md-12 input-field">
                <mat-form-field class="full-width select-height" appearance="outline">
                    <mat-label class="required">Type<span class="red-req">*</span></mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="work" default>Work</mat-option>
                        <mat-option value="home">Home</mat-option>
                        <mat-option value="mobile">Mobile</mat-option>
                        <mat-option value="other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-7 input-field">

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label class="required">E-mail<span class="red-req">*</span></mat-label>
                    <input matInput type="text" formControlName="email"
                           placeholder="Email">
                    <mat-error *ngIf="form.controls['email'].hasError('required')">
                        Please enter email.
                    </mat-error>
                    <mat-error *ngIf="form.controls['email'].hasError('pattern')">
                        Please enter valid email.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-5  input-field">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label class="required">Phone Number<span class="red-req">*</span></mat-label>
                    <input matInput placeholder="Enter phone number" type="tel"
                           appNumberOnly  maxlength="10"
                           formControlName="phoneNumber">
                    <mat-error *ngIf="form.controls['phoneNumber'].hasError('required')">
                        Please enter phone number.
                    </mat-error>
                    <mat-error *ngIf="form.controls['phoneNumber'].hasError('allZeroError') || form.controls['phoneNumber'].hasError('maxlength') || form.controls['phoneNumber'].hasError('minlength')">
                        Please add valid phone number
                    </mat-error>
                  
                </mat-form-field>
            </div>
            <div class="col-md-12 input-field">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Add a Note</mat-label>
                    <textarea matInput placeholder="Add a note" formControlName="notes"
                              rows="5"> </textarea>
                </mat-form-field>
            </div>
            <section class="action">
                    <button type="submit" class="btn save-btn" (click)="finalSubmit()"
                            [ngClass]="{'btn-primary':form.valid == true}">Save
                    </button>
             </section>
        </div>

    </div>

</form>
