<div class="modal-header email_str_header">
    <section class="text">
        <h4>{{modalData?.topTitle ? modalData?.topTitle : 'Send an email'}}</h4>
    </section>
    <section id="close" class="navigation">
        <!--        <button class="icon-only" type="button" aria-label="Close" (click)="http.hideModal()" *ngIf="!modalData?.email">-->
        <!--            <img src="/assets/images/ic_close.svg">-->
        <!--        </button>-->
        <!--        *ngIf="modalData?.email"-->
        <button class="icon-only" type="button" aria-label="Close" (click)="openConfirmModal()">
            <img src="/assets/images/ic_close.svg">
        </button>

        <!--        <button class="icon-only" type="button" aria-label="Close" (click)="http.showModal(cancelPopup, 'xs')">-->
        <!--            <img src="/assets/images/ic_close.svg">-->
        <!--        </button>-->
    </section>

</div>
<form [formGroup]="form" (ngSubmit)="finalSubmit()" autocomplete="off">

    <div class="modal-body email_str_body">

        <div class="input-row" *ngIf="modalData?.openFrom != 'deal'">
            <label>To:</label>
            <div class="select-wrapper input-field">
                <input matInput type="text" formControlName="email" placeholder="Email" [readonly]="isContact"
                       [matAutocomplete]="auto" (input)="contactList($event.target.value)"
                       autocomplete="off">
                <div class="input-chevron"><!-- <img src="assets/images/ic_dropdown.svg"> --></div>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                  (optionSelected)="finalSelected()">
                    <mat-option *ngFor="let val of myModel?.contacts" [value]="val">
                        {{val?.firstName}} {{val?.lastName}}
                        <ng-container *ngIf="val?.email">({{val?.email}})</ng-container>
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>

        <div class="input-row" *ngIf="modalData?.openFrom == 'deal'" style="height: auto;">
            <label>To:</label>
            <div class="select-wrapper input-field remove-border">
                <ng-multiselect-dropdown [(ngModel)]="selectedContacts" [placeholder]="'Select Contact'"
                                         [data]="myModel.contacts" [settings]="contactSettings"
                                         [ngModelOptions]="{standalone: true}" class="tag-email">
                </ng-multiselect-dropdown>
            </div>
        </div>

        <div class="input-row">
            <label>Subject:</label>
            <div class="input-field">
                <input matInput placeholder="Enter subject" type="text" formControlName="subject">
            </div>
        </div>

        <div class="email-content">
            <div class="form-group">
                <!-- <div [ngxSummernote]></div> -->
                <ckeditor 
                formControlName="content" 
                debounce="500" [config]="ckeConfig">
                </ckeditor>
            </div>
        </div>

        <div class="signature-toggle">
            <section class="signature-preview" *ngIf="signStatus?.value">
                <h4>{{loginData?.name}}</h4>
                <p>{{loginData?.email}}</p>
                <p>{{loginData?.countryCode}} {{loginData?.phoneNumber}}</p>
            </section>

            <section class="toggle-switch">
                <div class="Signature">
                    <span>Signature</span>
                </div>
                <div class="Signature-toggle">
                    <label class="switch">
                        <input type="checkbox" [formControl]="signStatus">
                        <span class="slider round"></span>
                    </label>
                </div>
            </section>
        </div>
        <div class="contact-email-attachments">
            <div class="attachments-container" *ngFor="let data of filesData;let i=index">
                <div class="attachment">
                    <span class="file-type">{{data?.ext}}</span>
                    <span class="file-name">{{data?.fileName}}</span>
                    <span class="file-delete-icon">
                        <button type="button" (click)="deleteFile(data,i)">
                            <!--                            <img src="assets/images/ic_delete_opt.svg" (click)="deleteFile(data,i)">-->
                        <svg class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="trash-2">
                                <path
                                        d="M14 1a3 3 0 0 1 3 3v1h4a1 1 0 1 1 0 2h-2v13a3 3 0 0 1-3 3H8a3 3 0 0 1-3-3V7H3a1 1 0 0 1 0-2h4V4a3 3 0 0 1 3-3zm3 6H7v13a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1zm-6.5 3a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm3 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm.5-7h-4a1 1 0 0 0-.993.883L9 4v1h6V4a1 1 0 0 0-1-1z"
                                        fill-rule="evenodd"></path>
                            </svg>
                        </svg>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="send_email_footer">
            <section class="button-row">

                <div class="tooltip-container tooltip-hover">
                    <div class="tooltip-reference">
                        <button type="button" (click)="openUpload()"><img src="assets/images/ic_attachments.svg">
                        </button>
                    </div>
                    <section class="tooltip">
                        <div class="arrow"></div>
                        <div>Add attachment</div>
                    </section>
                </div>
                <div class="tooltip-container tooltip-hover">
                    <div class="tooltip-reference">
                        <div class="btn-group add-booking-link" dropdown>
                            <button id="button-basic2" dropdownToggle type="button" class="btn"
                                    aria-controls="dropdown-basic">
                                <img src="/assets/images/ic_booking.svg">
                            </button>
                            <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic" style="left: -103px;">
                                <h4 (click)="openAddAppointment()" style="cursor: pointer;">Add booking link</h4>
                                <li role="menuitem" style="display: block"
                                    *ngFor="let data of myModel?.appointmentTypes"
                                (click)="addLink(data)">
                                    <a class="dropdown-item">
                                        <img src="assets/images/ic_attch2.svg">
                                        <div class="item-text">
                                            <h6> {{data?.name}} |
                                                <ng-container *ngIf="data?.duration"> {{data?.duration}} min
                                                </ng-container>
                                            </h6>
                                            <p> {{appoint.getBookingLink(data.name)}} </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <section  class="tooltip">
                        <div class="arrow"></div>
                        <div  >Add booking link</div>
                    </section>
                </div>
                <div class="popover-container tooltip-container tooltip-hover">
                    <div class="tooltip-reference">
                        <div class="btn-group add-booking-link insert-templates" dropdown>
                            <button id="button-basic2" dropdownToggle type="button" class="btn"
                                    aria-controls="dropdown-basic">
                                <img src="/assets/images/ic_insert_template.svg">
                            </button>
                            <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic" style="left: -103px;">
                                <div class="email-templates">
                                    <h4>Insert template</h4>

                                    <ng-container *ngFor="let data of myModel?.templates">
                                        <li role="menuitem" style="display: block" (click)="selectTemplate(data)">
                                            <a class="dropdown-item">
                                                <!--                                                <img src="assets/images/ic_attch2.svg">-->
                                                <div class="item-text">
                                                    <h6>{{data?.name || ''}}</h6>
                                                    <p>{{data?.subject || '(no subject)'}}</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ng-container>

                                </div>
                                <div class="manage-templates">
                                    <a class="text-button" (click)="openTemplate()"> Manage templates</a>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <section class="tooltip">
                        <div class="arrow"></div>
                        <div>Insert template</div>
                    </section>
                </div>
            </section>
            <section class="button-row">
                <button type="submit" class="btn btn-outline-primary">Send</button>
            </section>

        </div>
    </div>

</form>

<ng-template #cancelPopup>
    <div class="delete-comp md">
        <div class="delete-comp-inner">
            <h4>Confirm close</h4>
            <p>Are you sure you want to close? Any unsaved progress will be lost.</p>
            <div class="button-row form-group">
                <button class="delete-btn" (click)="http.hideModal();http.hideModal()">Close</button>
                <button class="text-button" type="button" aria-label="Close" (click)="http.hideModal()">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

