.header-for-smart-form-builder-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.header-for-smart-form-builder-main .left-col span {
    font-size: 20px;
    margin-left: 30px;
}

.header-for-smart-form-builder-main .left-col {
    display: flex;
    align-items: center;
}

.header-for-smart-form-builder-main .left-col button.icon-only {
    padding: 0px 3px;
}

.header-for-smart-form-builder-main .left-col button.icon-only img {
    width: 30px;
    height: 30px;
}

.header-for-smart-form-builder-main .right-col {
    display: flex;
    align-items: center;
}

.header-for-smart-form-builder-main .right-col span.all-changes-saved {
    margin-right: 20px;
    padding-left: 25px;
    position: relative;
    font-size: 16px;
}

.header-for-smart-form-builder-main .right-col span.all-changes-saved::before{
    position: absolute;
    content: '';
    background: url('../../../../assets/images/tick.svg')no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    
}


.details-and-preview-main {
    width: 90%;
    margin: auto;
    display: flex;
    /* align-items: center; */
    padding-bottom: 30px;
    padding-top: 10px;
}

.details-and-preview-main .details-main-left {
    width: 60%;
}

.details-and-preview-main .right-priview-label {
    width: 40%;
}

.details-and-preview-main .details-main-left span {
    display: block;
    font-size: 16px;
    color: #b3b3b3;
}


.details-and-preview-main label.comman-label {
    font-size: 22px;
    margin-bottom: 0;
}

.details-and-preview-main .details-main-left label.comman-label {
    margin-bottom: 10px;
}


.smart-form-builder-main .formio.builder {
    width: 90%;
    margin: auto;
    flex-wrap: inherit;
}

.this-form-will {
    margin-top: 15px;
    background: #fff7d6;
    padding: 17px;
    padding-left: 60px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    width: 96%;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 6px;
}

.this-form-will .alert-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    left: 17px;
}

.this-form-will .alert-icon:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 10px;
    background: #000;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
}

.this-form-will .alert-icon:after {
    position: absolute;
    content: '';
    background: #000;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    left: 0px;
    right: 0;
    margin: auto;
    top: 4px;
}


.this-form-will .short-description-of-form {
    width: 96%;
    font-size: 15px;
    font-weight: 300;
}


.workspace-input {
    position: relative;
    margin-top: 10px;
    width: 96% ;

}


.text-area-for-that {
    margin-top: 15px !important;
    width: 96%;
}

