<div class="modal-header email_str_header">
    <section class="text">
        <h4>{{modalData?.subject}}</h4>
    </section>
    <section id="close" class="navigation">
        <button class="icon-only" type="button" aria-label="Close" (click)="http.hideModal()">
            <img src="/assets/images/ic_close.svg">
        </button>
    </section>
</div>
<div class="modal-body">
    <div class="html-preview">
        <div class="iframe-wrapper desktop" *ngIf="fullview">
            <!-- <p [innerHTML]="modalData?.content"></p> -->
            <div class="desktop-preview">
                <dynamic-html [content]="modalData?.content"></dynamic-html>
            </div>
            
        </div>
        <div class="iframe-wrapper mobile" *ngIf="!fullview">
            <div class="mobile-view">
                <!-- <p [innerHTML]="modalData?.content"></p> -->
                <dynamic-html [content]="modalData?.content"></dynamic-html>
            </div>
        </div>
        <div class="desktop-mobile-view">
            <a [ngClass]="{'active':fullview == true}"><img src="/assets/images/ic_desktop.svg"
                                                            (click)="fullview = true"></a>
            <a [ngClass]="{'active':fullview == false}"> <img src="/assets/images/ic_mobile.svg"
                                                              (click)="fullview = false"></a>
        </div>
    </div>
</div>

