
.when-build-main-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}




.when-build-main-wrapper .card-main {
    background: #fff;
    padding: 30px;
    text-align: center;
    border: 1px solid #e6e6e8;
    border-radius: 10px;
}
.when-build-main-wrapper .card-main .when-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5px;
    position: relative;
}

.when-build-main-wrapper .card-main .when-heading span {
    font-size: 28px;
    font-weight: 400;
    color: #000;
}

.when-build-main-wrapper .card-main .when-heading img {
    display: flex;
    margin-right: 5px;
    position: absolute;
    left: -120px;
    right: 0;
    margin: auto;
    width: 30px !important;
    height: 30px !important;
}

.when-build-main-wrapper .card-main .short-description {
    color: #a09fa4;
    font-size: 16px;
    font-weight: 400;
}

.when-build-main-wrapper .card-main .add-icon-blue {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}

.when-build-main-wrapper .card-main .add-icon-blue button.btn {
    width: 31px;
    height: 31px;
    background: #4f7ddc;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #fff;
    padding: 10px 7px;
}

.when-build-main-wrapper .down-arrow {
    margin-top: 20px;
    margin-bottom: 20px;
    transform: rotate(270deg);
    width: 25px;
}
.center-down-img {
    margin: 30px 0px;
}

.center-down-img img.down-arrow {
    width: 26px;
    transform: rotate(270deg);
}
 .first-card .when-heading {
     cursor: pointer;
    font-size: 26px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
 .first-card .when-heading img {
    width: 35px;
    margin-right: 10px;
}
.then-card {
    cursor: pointer;
    background: #fff;
    /* padding: 30px; */
    border: 1px solid #e6e6e8;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 7px #b9b9b9;
    position: relative;
}
.then-card .when-heading {
    font-size: 26px;
    margin-bottom: 8px;
}

.then-card .when-heading img {
    width: 31px;
}

.then-card .short-description {
    font-size: 16px;
    color: #a09fa4;
}

.then-card .add-icon-blue button.btn {
    background: #2525f5;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 23px;
    padding: 5px 7px;
    border-radius: 100%;
    margin: auto;
    margin-top: 10px;
}
.then-add-card {
    cursor: pointer;
    background: #fff;
    padding: 30px;
    border: 1px solid #e6e6e8;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 7px #b9b9b9;
}
.then-add-card .when-heading {
    font-size: 26px;
    margin-bottom: 8px;
}

.then-add-card .when-heading img {
    width: 31px;
}

.then-add-card .short-description {
    font-size: 16px;
    color: #a09fa4;
}

.then-add-card .add-icon-blue button.btn {
    background: #2525f5;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 23px;
    padding: 5px 7px;
    border-radius: 100%;
    margin: auto;
    margin-top: 10px;
}
.then-main-inner-card {
    padding: 30px;
}
.main-expansion-panal {
    margin-bottom: 10px;
}

.then-card::before{
    position: absolute;
    content: '';
    background: linear-gradient(180deg, #40C186 0%, #36A48D 29.26%, #2681AD 65.62%, #125CB7 100%);
    width: 7px;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 99;
}
.then-add-card {
    position: relative;
}
.then-add-card::before{
    position: absolute;
    content: '';
    background: #eb6a3a;
    width: 7px;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 99;
}


.first-card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 7px #b9b9b9;
    position: relative;
}

.first-card:before {
    position: absolute;
    content: '';
    background: #eb6a3a;
    width: 7px;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.first-card-filled:before {
    position: absolute;
    content: '';
    background: linear-gradient(180deg, #40C186 0%, #36A48D 29.26%, #2681AD 65.62%, #125CB7 100%);
    width: 7px;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.first-card .when-heading {
    font-size: 26px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.first-card .when-heading img {
    width: 35px;
    margin-right: 10px;
}

.first-card .short-description {
    padding-left: 46px;
    font-size: 16px;
    color: #a09fa4;
}