<div class="header-main-email">
    <div class="header-tags">New email broadcast</div>
    <button class="back-btn">Back</button>
</div> 


<div class="main-forms-area-for-email-broadcast">

    <div class="inner-wrapper-form">

        <div class="comman-rows-sub">
            <div class="form-lab">Subject<span class="red-color">*</span></div>
            <input type="text"  placeholder="Add a subject line"/>
        </div>
        <div class="comman-rows-sub">
            <div class="form-lab">Contact<span class="red-color">*</span></div>
            <input type="text"  placeholder="Select Contact"/>
        </div>



    </div>

</div>