<!--<div class="modal-header">-->
<!--    <label class="modal-title pull-left">Forgot Password</label>-->
<!--    <button type="button" class="close pull-right" aria-label="Close" (click)="http.hideModal()">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--</div>-->
<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="http.hideModal()">
        <i class="fas fa-times"></i>
    </button>
    <h4 class="modal-title">Change Password</h4>
</div>


<form [formGroup]="form" (ngSubmit)="forgotPasswordFun()" autocomplete="off">
    <div class="modal-body">

        <div class="form-group">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput type="text" formControlName="email"
                       placeholder="Email">
                <mat-error *ngIf="form.controls['email'].hasError('required')">
                    Please enter email.
                </mat-error>
                <mat-error
                        *ngIf="form.controls['email'].hasError('pattern')">
                    Please enter valid email.
                </mat-error>
            </mat-form-field>
        </div>

    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="http.hideModal()">Cancel</button>
        <button type="submit" class="btn btn-outline-primary">
            <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>
            Submit</button>
    </div>

</form>

