<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="http.hideModal()">
        <i class="fas fa-times"></i>
    </button>
    <h4 class="modal-title">Setup Google Reviews</h4>
</div>
<div class="modal-body">
    <h3 class="text-center">What's the name of your business?</h3>

    <div class="col-md-12">

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Business Name</mat-label>
            <input matInput placeholder="Business Name">
        </mat-form-field>

    </div>

    <div class="col-md-12 text-center">
        <a href="https://business.google.com/create" target="_blank">Not seeing your business? Create a listing</a>
    </div>

</div>
