<div class="main-popup-submit-feedback">
    <div class="header-part">
        <div class="heading">
            Delete automation
        </div>
    </div>
    <div class="body-content-main-feedback">
         
        <div class="text-area-main">
            Are you sure you want to delete <br/>
            New lead follow-up?


        </div>
        <div class="last-button-row">
            <button class="icon-only submit-btn" (click)="deleteAutomation()">
                <i class="fa mr-2" *ngIf="loader" [ngClass]="{'fa-spin fa-spinner': loader}"></i>
                Yes, delete
            </button>
            <button class="icon-only cancel-btn" type="button" aria-label="Close" (click)="http.hideModal();onClose.next(false)">
                Cancel
            </button>
        </div>

    </div>
</div>