$dark-gray: #c2c2c2; // Default color
$blue: #1c84c6; // Success color
$lazur: #23c6c8; // Info color
$golden: #443a2e; // Warning color
$red: #ED5565; // Danger color
$main: #0040db; // old blue
//$main: #157af6; // new blue
$green: #6fb654;
// Various colors
$text-color: #676a6c; // Body text
$gray: #f3f3f4; // Background wrapper color
$light-gray: #e8e8e8; // Default label, badge
$label-badge-color: #5E5E5E;
$light-blue: #ebecf0;
// Spiner color and margin
$spin-color: $main;
$spin-margin: 0 auto;
// IBOX colors ( default panel colors)
$border-color: #e7eaec; // IBox border
//Sidebar width
$sidebar-width: 223px;
// Boxed layout width
$boxed-width: 1200px;
//Border radius for buttons
$btn-border-radius: 3px;
//Navigation
$nav-bg: #4D6836;
//Sul Sans,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif
//$my-font-family: 'Source Sans Pro', sans-serif;
//$my-font-family:'Roboto', helvetica, arial, sans-serif; //old
//$my-font-family:'Titillium Web', sans-serif; //old
//$my-font-family:'Poppins', sans-serif; //old
$my-font-family:'Open Sans', sans-serif; //old
//$my-font-family:'Source Sans Pro', sans-serif //old
//$my-font-family: arial sans-serif; // new
//$my-font-family: Arial, sans-serif;
$skyblue: #dbe2f5;
$light: #ebecf0;
$dark-color: #4f418b;
$col-1: rgb(89, 93, 213);
//$col-2: rgb(78, 54, 126);
$col-2: #368eba;
$label-color: #9a9a9a;

$gray-text: rgba(128, 128, 128, 0.9);
$back-color: #f9f9f9;

