<div class="header-row-main">
        <div class="heading-modals">Invoice Preview</div>
        <button type="button" class="close-icon">
            <img src="../../../../assets/images/ic_close.svg" />
        </button>
</div>

<div class="second-row-main">
        <a href="#" title="PDF/Print">
            <img src="../../../../assets/images/pdf-invoice.svg" />
            PDF/Print
        </a>
        <a href="#" title="PDF/Print">
            <img src="../../../../assets/images/get-link-invoice.svg" />
            Get link
        </a>
        <a href="#" title="PDF/Print">
            <img src="../../../../assets/images/clone-invoice.svg" />
            Clone Invoice
        </a>

</div>

<div class="main-invoice-preview">

    <div class="inner-main-invoice">
        <div class="first-heading-row">
                <img src="../../../../assets/images/logo-invoice.svg" class="logo-inovie">
                <div class="invoice-heading">
                    INVOICE
                </div>
        </div>
        <div class="inovice-number-row">
            <div class="comman-heading">Invoice No: #INV001</div>
            <div class="comman-heading">Invoice Date: 04/22/2021</div>

        </div>

        <div class="invoice-to-row-main">
                <div class="left-col-main-pre">
                    <div class="invoice-to">Invoice To</div>
                    <div class="invoice-name">John Doe</div>
                    <div class="invoice-email">johndoe@gmail.com</div>
                    <div class="invoice-phone-number">+1 (707)-246-8911</div>
                    <div class="invoice-address">811  Hillview Drive
                        <br/>Concord<br/>CA<br/>94520
                    </div>

                </div>

                <div class="right-col-main-pre">
                    <div class="clisynk-name">Clisynk</div>
                    <div class="invoice-email">johndoe@gmail.com</div>
                    <div class="invoice-phone-number">+1 (707)-246-8911</div>
                    <div class="invoice-address">811  Hillview Drive
                        <br/>Concord<br/>CA<br/>94520
                    </div>

                </div>



        </div>

        <div class="due-date">Due Date: 04/22/2021</div>
        <div class="subject-rows">
            <span class="small-heading">Subject:</span>
            Invoice for John Doe by Clisynk in April.
        </div>

        <table class="invoice-table">
            <thead>
                <tr>
                    <th>Product/Service Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Qty.</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dummy Product</td>
                    <td>-</td>
                    <td>$100</td>
                    <td>10</td>
                    <td>$1000</td>
                </tr>
                <tr>
                    <td>Dummy Product</td>
                    <td>-</td>
                    <td>$100</td>
                    <td>10</td>
                    <td>$1000</td>
                </tr>
                <tr>
                    <td>Dummy Product</td>
                    <td>-</td>
                    <td>$100</td>
                    <td>10</td>
                    <td>$1000</td>
                </tr>

            </tbody>

        </table>
        <div class="sub-total-mains">
            <div class="inner-sub-totals">
                <div class="sub-total-text">
                    <span class="sub-total-heading">Sub Total :</span>
                    <span class="sub-total-value">$3000.00</span>
                </div>
                <div class="sub-total-text">
                    <span class="sub-total-heading">Discount :</span>
                    <span class="sub-total-Discount">(-)$10.00</span>
                </div>
                <div class="sub-total-text">
                    <span class="sub-total-heading">Tax :</span>
                    <span class="sub-total-value">$0.00</span>
                </div>
                <div class="total-text">
                    <span class="sub-total-heading">Total :</span>
                    <span class="total-value">$2990</span>
                </div>
            </div>
        </div>

        <div class="note-main">
            <span class="heading-note">Note</span>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
        </div>
        <div class="note-main">
            <span class="heading-note">Term & Conditions</span>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
        </div>
        
        <div class="review-pay">
            <button>Review & Pay</button>
        </div>
        <div class="thanks-for-business">Thank you for your business!</div>

    </div>

</div>


