<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="http.hideModal()">
        <i class="fas fa-times"></i>
    </button>
    <h4 class="modal-title">Import Contact</h4>
</div>
<div class="modal-body">
    <input name="Select File" type="file" (change)="uploadImage($event.target.files[0])" style="margin-top: 20px"
           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
    <br>
    <br>
    <a class="btn btn-link" (click)="http.fileDownloadFromServer('contactSheet')" style="display: table-cell;">
        <i class="fas fa-file-download"></i> Download Sample File
    </a>
</div>

