.main-lead-forms{
    display: flex;
}

.main-lead-forms .right-col-lead {
    width: 50%;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 20px;
}

.main-lead-forms .left-col-lead {
    width: 50%;
    margin-left: 20px;
    margin-bottom: 30px;
    
}

.first-alert-strips {
    background: #FFF7D6;
    padding: 30px 30px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 50px;

}

.first-alert-strips p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-left: 20px;
    position: relative;
}
.first-alert-strips  label.alert-icon{
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    border: 3px solid #000;
    border-radius: 100%;
    padding: 15px;
    position: relative;
}

.first-alert-strips label.alert-icon:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 12px;
    background: #000;
    top: 5px;
    margin: auto;
    left: 1px;
    right: 0;
}


.first-alert-strips label.alert-icon:after {
    position: absolute;
    content: '';
    background: #000;
    width: 3px;
    height: 3px;
    bottom: 7px;
    left: 0px;
    right: 0;
    margin: auto;
    border-radius: 220px;
}

.add-your-business-main {
    margin-top: 20px;
    width: 70%;
}

.add-your-business-main .label-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #2A2A2A;
}

.upload-logo-optional {
    width: 50%;
    margin-top: 21px;
    border: 2px dashed #dadada;
    padding: 40px 0px;
    position: relative;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;    
}

.upload-logo-optional input.upload-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    cursor: pointer;
    z-index: 99;
    opacity: 0;
}

.add-your-logo-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #2A2A2A;
    
}

.upload-logo-optional .logo-heading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #BBBBBB;
    font-weight: 400;
}

.upload-logo-optional p.text-description {
    margin-bottom: 0;
}

.upload-logo-optional p.text-description {
    margin-bottom: 0;
    font-size: 18px;
    color: #9d9ca2;
}

.upload-logo-optional p.text-description span.blue-text {
    display: block;
    color: #003fdc;
}

.info-about-logo {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.Edit-your-form label.label-name {
    font-size: 18px;
}

.Edit-your-form p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
}

.edit-form-btn {
    margin: 0;
    margin-top: 30px;
    background: #fff;
    border: 1px solid #ccc;
    color: #0040db;
}

.lead-form-preview {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #2A2A2A;
    margin-bottom: 40px;
    margin-top: 20px;
}


.right-edit-form-main {
    margin: 15px 0px;
    background: #fff;
    box-shadow: 0px 1px 6px #ccc;
    padding: 30px;
    border-radius: 15px;
    min-height: 800px;
}

.right-edit-form-main span.logo-text-both {
    display: block;
    margin-bottom: 40px;
    text-align: center;
    font-size: 28px;
}

.submit-btn-row button.btn {
    background: #ccc;
    color: #828282;
    padding: 10px 30px;
}

.submit-btn-row button.btn:hover{
    background-color: #0040db;
    color: #fff;
}
.browse-btn {
    position: relative;
}

.upload-logo-optional img {
    margin: 10px 0px !important;
    width: 60px;
}
p.text-description {
    font-size: 14px !important;
    line-height: 17px !important;
    text-align: center;
    letter-spacing: 0.02em;
    color: #BBBBBB;
}

.browse-btn {
    margin: 30px 0px;
    display: inline-block;
    background: #4776E6;
    border-radius: 5px;
    color: #fff;
    padding: 10px 40px;
    cursor: pointer;
}
.margin-top-main {
    margin-top: 50px;
    margin-bottom: 20px;
}

.preview-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}
.preview-main .lead-form-preview {
    margin-bottom: 0;
    margin-top: 0;
}
.preview-main button.copy-btn {
    background: transparent;
    border: none;
}
.preview-main button.copy-btn img {
    margin-right: 8px;
}
.preview-main button.copy-btn:hover {
    text-decoration: underline;
}

@media(max-width:1660px){
    .upload-logo-optional{
        width: 60%;
    }
}

@media(max-width:1500px){
    .browse-btn{
        margin: 20px 0px;
    }
    .first-alert-strips p{
        font-size: 13px;
        line-height: 19px;
    }
    .add-your-business-main .label-name{
        margin-bottom: 5px;
        font-size: 15px;
    }
    .add-your-logo-heading{
        font-size: 15px;
        margin-top: 3px;
        
    }
    .upload-logo-optional{
        width: 90%;
    }
    .upload-logo-optional .logo-heading{
        font-size: 15px;
        margin-top: 9px;
        margin-bottom: 5px;
    }
    .upload-logo-optional  p.text-description{
        font-size: 12px !important;
    }
    .info-about-logo{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .Edit-your-form label.label-name{
        font-size: 15px;
    }
    .Edit-your-form p{
        font-size: 13px;
    }
    .lead-form-preview{
        font-size: 15px;
        font-weight: 400;
    }
    .right-edit-form-main  span.logo-text-both{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .upload-logo-optional img{
        width:40px;
    }
    .main-lead-forms .right-col-lead{
        margin-left: 30px;
    }
}

/* -----------------------header---------------- */
.header-for-lead-form-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;
    border-bottom: 1px solid #e6e6e8;
    margin-bottom: 10px;
}


.header-for-lead-form-main .inner-left-head .Clients_list_heading {
    padding: 0;
    margin-bottom: 0;
    border: none;
}

.header-for-lead-form-main .right-col-three-btn {
    display: flex;
    align-items: center;
}

.header-for-lead-form-main .right-col-three-btn .comm-btn {
    margin-left: 20px;
}
/* #0442db */

.header-for-lead-form-main .right-col-three-btn .comm-btn button.copy-btn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: #0442db;
    font-size: 12px;
}

.comm-btn button.copy-btn img {
    margin-right: 9px;
    width: 14px;
}

.header-for-lead-form-main .right-col-three-btn .comm-btn button.copy-btn:hover {
   text-decoration: underline;
}

.header-for-lead-form-main .go-to-form {
    padding: 11px 20px;
    border: 1px solid #ccc !important;
    border-radius: 8px;
}

.header-for-lead-form-main .go-to-form:hover {
    background: #0442db !important;
    color: #fff !important;
    border: 1px solid #0442db !important;
}

.header-for-lead-form-main .go-to-form:hover img {
    filter: brightness(100);
}

.form-description-inner-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #2A2A2A;
    margin-bottom: 40px;
    margin-top: 20px;
}

.last-edit-btn {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.last-edit-btn .unpublish-changes-shrot {
    margin-left: 15px;
    font-size: 14px;
    color: #000;
}   

.remove-btn-logo {
    margin-bottom: 20px;
}


.remove-btn-logo button.rm-btn {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 18px;
    color: #ff3500;
}

.remove-btn-logo button.rm-btn:hover{
    text-decoration: underline;
}

.business-name {
    text-align: center;
    margin-bottom: 20px;
}

.business-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 10px;
}

.preview-logo {
    margin-left: 15px;
    margin-top: 20px; 
    margin-bottom: 20px;
}


.preview-logo img {
    width: 90px;
}



@media (max-width:1590px){
    .main-lead-forms .left-col-lead{
        width: 50%;
    }
    .main-lead-forms .right-col-lead{
        width: 50%;
        margin-left: 60px;
    }
    .add-your-business-main{
        width: 65%;
    }
}


@media (max-width:1500px){
    .first-alert-strips{
        padding: 22px 20px;
    }
    .first-alert-strips label.alert-icon{
        width: 25px;
        height: 25px;
        border: 2px solid #000;
        padding: 12px;
    }
    .first-alert-strips label.alert-icon:before{
        height: 8px;
    }
    .first-alert-strips label.alert-icon:after{
        bottom: 5px;
    }
    .form-description-inner-main{
        font-size:14px;
    }
    /* .main-lead-forms .right-col-lead{
        margin-top: -29px;
    } */
}