<!-- NEW CODE -->
<!-- <div class="email-comman-main">

    <div class="first-row-main">
        <div class="left-heding-email">Subject:</div>
        <div class="right-input-field-main">
            <input type="email" />
        </div>
    </div>
    <div class="second-row-main">
        <ckeditor debounce="500" [config]="ckeConfig"></ckeditor>
        <div class="signature-row-main">
            <section class="toggle-switch">
                <div class="Signature">
                    <span>Signature</span>
                </div>
                <div class="Signature-toggle">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </section>
            <div class="left-col-three-btn">
                <button class="comman-btn">
                    <img src="../../../../assets/images/upload-pin.svg">
                </button>
                <button class="comman-btn">
                    <img src="../../../../assets/images/merge-pin.svg">
                </button>
                <button class="comman-btn">
                    <img src="../../../../assets/images/document-pin.svg">
                </button>
            </div>
        </div>
    </div>

    <div class="comman-rows-sub">
        <div class="form-lab">Contact<span class="red-color">*</span></div>
        <input type="text"  placeholder="Select Contact"/>
    </div>
    
    <div class="comman-row-main">
        <div class="heading-part">When do you want to send the emails?</div>
    </div>
    <div class="radio-groups-main">
        <div class="radio-btn">
            <input type="radio" id="test1" name="radio-group" checked>
            <label for="test1">Right away</label>
        </div>
        <div class="radio-btn">
            <input type="radio" id="test2" name="radio-group" checked>
            <label for="test2">At a specific time</label>
        </div>
    </div>
    <div class="at-a-specific-time-main">
        <div class="comman-row-date">
            <mat-form-field appearance="outline">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="comman-row-date pm-am-btn">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Time</mat-label>
                <input matInput placeholder="Time">
            </mat-form-field>
            <button class="btn-am">AM</button>
        </div>
        <div class="comman-row-date">

            <mat-form-field appearance="outline">
                <mat-select placeholder="Timezone">
                  <mat-option>
                    (GMT +2:00) Johannesburg 
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>


    </div>
    <div class="btns-groups-main">
        <button type="button" class="btn btn-save-btn">Save and come back later</button>
        <button type="button" class="btn btn-send-btn">Send Broadcast</button>
    </div>
</div> -->





<!-- OLD CODE -->
<!-- 
<div class="med-popup">
    <div class="broadcast-wizard-page">
        <div class="modal-header email_str_header">
            <section id="close" class="navigation">
                <button class="icon-only" type="button" aria-label="Close" (click)="goBack()" >
                    <svg class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="arrow-left">
                            <path
                                    d="M13.707 3.293a1 1 0 0 1 0 1.414L7.414 11H19a1 1 0 1 1 0 2H7.414l6.293 6.293a1 1 0 0 1-1.414 1.414l-8-8-.073-.082a1.004 1.004 0 0 1-.007-.008l.08.09A1.008 1.008 0 0 1 4 12.02v-.037c0-.024.002-.048.004-.071L4 12a1.008 1.008 0 0 1 .213-.617c.025-.031.051-.062.08-.09l8-8a1 1 0 0 1 1.414 0z"
                                    fill-rule="evenodd"></path>
                        </svg>
                    </svg>
                </button>
            </section>
            <section class="text">
                <h4>{{isEdit ? 'Update' : 'New'}} email broadcast</h4>
            </section>
        </div>
        <form [formGroup]="form" autocomplete="off">
            <div class="modal-body">

                <accordion [isAnimated]="true" [closeOthers]="true">
                    <accordion-group [isOpen]="openTab === 1" accordion-heading>

                        <button class="btn btn-link btn-block clearfix text-left" accordion-heading type="button">
                            <span class="badge badge-secondary">1</span>
                            <div style="display: inline;">Create your email content</div>
                        </button>

                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" formControlName="subject" placeholder="Add a subject line"
                                   class="form-control">
                            <mat-error
                                    *ngIf="form.controls['subject'].hasError('required') && form.controls.subject.touched">
                                Please enter subject.
                            </mat-error>
                        </div>

                        <div class="form-group">
                            <label>Preview line</label>
                            <input type="text" formControlName="previewLine" placeholder="Add a preview line (optional)"
                                   class="form-control">
                        </div>

                        <div class="email-content">
                            <div class="form-group">
                                <label>Content</label>
                                <ckeditor formControlName="content" debounce="500" [config]="ckeConfig">
                                </ckeditor>
                                <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
                            </div>
                        </div>

                        <div class="signature-toggle">
                            <section class="signature-preview" *ngIf="signStatus?.value">
                                <h4>{{http?.loginData?.name}}</h4>
                                <p>{{http?.loginData?.email}}</p>
                                <p>{{http?.loginData?.countryCode}} {{http?.loginData?.phoneNumber}}</p>
                            </section>

                            <section class="toggle-switch">
                                <div class="Signature">
                                    <span>Signature</span>
                                </div>
                                <div class="Signature-toggle">
                                    <label class="switch">
                                        <input type="checkbox" [formControl]="signStatus">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </section>
                        </div>
                        <div class="button-row">
                            <button type="button" class="btn-outline-primary" (click)="openTab = 2"> Next: Define your
                                audience
                            </button>
                            <div class="popover-container tooltip-container tooltip-hover"
                                 style="display: inline-block">
                                <div class="tooltip-reference">
                                    <div class="btn-group add-booking-link insert-templates" dropdown>
                                        <button id="button-basic2" dropdownToggle type="button" class="btn"
                                                aria-controls="dropdown-basic">
                                            <img src="/assets/images/ic_insert_template.svg">
                                        </button>
                                        <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu" role="menu"
                                            aria-labelledby="button-basic" style="left: -103px;">
                                            <div class="email-templates">
                                                <h4>Insert template</h4>

                                                <ng-container *ngFor="let data of myModel?.templates">
                                                    <li role="menuitem" style="display: block"
                                                        (click)="selectTemplate(data)">
                                                        <a class="dropdown-item">
                                                            <div class="item-text">
                                                                <h6>{{data?.name}}</h6>
                                                                <p>{{data?.subject || '(no subject)'}}</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ng-container>
                                            </div>
                                            <div class="manage-templates">
                                                <button type="submit" class="text-button" (click)="openTemplate()">
                                                    Manage templates
                                                </button>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <section class="tooltip">
                                    <div class="arrow"></div>
                                    <div>Insert template</div>
                                </section>
                            </div>

                        </div>

                    </accordion-group>

                    <accordion-group class="your-audience" [isOpen]="openTab === 2"
                                     accordion-heading>

                        <button class="btn btn-link btn-block clearfix text-left" accordion-heading type="button">
                            <span class="badge badge-secondary">2</span>
                            <div style="display: inline;">Define your audience</div>
                        </button>

                        <h4>Who should receive this email?</h4>
                        <div class="form-group Associated-Contact remove-border">
                            <label class="required">Associated Contact</label>
                            <ng-multiselect-dropdown formControlName="contactId" [placeholder]="'Select Contact'"
                                                     [data]="myModel?.contacts" [settings]="dropdownSettings">
                            </ng-multiselect-dropdown>
                            <mat-error
                                    *ngIf="form.controls['contactId'].hasError('required') && form.controls.contactId.touched">
                                Please enter contact.
                            </mat-error>
                        </div>
                

                        <div class="button-row">
                            <button type="button" class="text-button" (click)="openTab = 1"> Previous</button>
                            <button type="button" class="btn-outline-primary" (click)="openTab = 3"> Next: Select your
                                timing
                            </button>
                        </div>
                    </accordion-group>

                    <accordion-group class="select-timing" [isOpen]="openTab === 3" accordion-heading>

                        <button class="btn btn-link btn-block clearfix text-left" accordion-heading type="button">
                            <span class="badge badge-secondary">3</span>
                            <div style="display: inline;">Select your timing</div>
                        </button>

                        <h4>When do you want to send the emails?</h4>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" [value]="1" formControlName="timingType">
                                <span> Right away</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" [value]="2" formControlName="timingType">
                                <span>At a specific time</span>
                            </label>
                        </div>

                        <div class="row" *ngIf="form.value.timingType === '2' || form.value.timingType === 2">
                            <div class="col-md-4">
                                <div class="input-field">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Due Date</mat-label>
                                        <input matInput type="text" readonly formControlName="timing" bsDatepicker
                                               #dp="bsDatepicker" [minDate]="myModel.today">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <mat-label>Due Date</mat-label>
                                <timepicker formControlName="timing"></timepicker>
                            </div>

                            <div class="col-md-4">
                                <div class="input-field">
                                    <div class="btn-group add-btn select-opt" dropdown>
                                        <mat-form-field appearance="outline" class="select-height">
                                            <mat-label>Select Timezone</mat-label>
                                            <mat-select formControlName="timeZone">
                                                <mat-option *ngFor="let val of myModel?.timeZones" [value]="val">
                                                    {{val}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-row">
                            <button type="button" class="text-button" (click)="openTab = 2"> Previous</button>
                        </div>

                    </accordion-group>
                </accordion>

                <div class="modal-footer footer-btn text-left">
                    <button type="submit" class="text-button" (click)="finalSubmit(1)">Save and come back later</button>
                    <button type="submit" class="btn-outline-primary" (click)="finalSubmit(2)">Send broadcast</button>
                </div>
            </div>
        </form>
    </div>


</div> -->


<!-- PULL IT OUT -->
<div class="med-popup">
    <div class="broadcast-wizard-page New-class-added">
        <!-- <div class="modal-header email_str_header">
            <section id="close" class="navigation">
                <button class="icon-only" type="button" aria-label="Close" (click)="goBack()" >
                    <svg class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="arrow-left">
                            <path
                                    d="M13.707 3.293a1 1 0 0 1 0 1.414L7.414 11H19a1 1 0 1 1 0 2H7.414l6.293 6.293a1 1 0 0 1-1.414 1.414l-8-8-.073-.082a1.004 1.004 0 0 1-.007-.008l.08.09A1.008 1.008 0 0 1 4 12.02v-.037c0-.024.002-.048.004-.071L4 12a1.008 1.008 0 0 1 .213-.617c.025-.031.051-.062.08-.09l8-8a1 1 0 0 1 1.414 0z"
                                    fill-rule="evenodd"></path>
                        </svg>
                    </svg>
                </button>
            </section>
            <section class="text">
                <h4>{{isEdit ? 'Update' : 'New'}} email broadcast</h4>
            </section>
        </div> -->
        <form [formGroup]="form" autocomplete="off">
            <div class="modal-body">

                          <div class="form-group">
                            <label>Subject<span style="color:red">*</span></label>
                            <input type="text" formControlName="subject" placeholder="Add a subject line"
                                   class="form-control">
                            <mat-error
                                    *ngIf="form.controls['subject'].hasError('required') && form.controls.subject.touched">
                                Please enter subject.
                            </mat-error>
                        </div>

                        <!-- <div class="form-group">
                            <label>Preview line</label>
                            <input type="text" formControlName="previewLine" placeholder="Add a preview line (optional)"
                                   class="form-control">
                        </div> -->

                        <div class="email-content">
                            <div class="form-group">
                                <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
                            </div>
                        </div>
                        <div class="contact-email-attachments">

                            <div class="attachments-container new-attach-ment" *ngFor="let data of filesData;let i=index">
                                <div class="attachment">
                                    <div class="left-icons">
                                        <span class="file-type">{{data?.ext}}</span>
                                        <span class="file-name">{{data?.fileName}}</span>
                                    </div>
                                    <span class="file-delete-icon">
                                        <button type="button" (click)="deleteFile(data,i)">
                                            <!--                            <img src="assets/images/ic_delete_opt.svg" (click)="deleteFile(data,i)">-->
                                        <svg class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="trash-2">
                                                <path
                                                        d="M14 1a3 3 0 0 1 3 3v1h4a1 1 0 1 1 0 2h-2v13a3 3 0 0 1-3 3H8a3 3 0 0 1-3-3V7H3a1 1 0 0 1 0-2h4V4a3 3 0 0 1 3-3zm3 6H7v13a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1zm-6.5 3a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm3 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm.5-7h-4a1 1 0 0 0-.993.883L9 4v1h6V4a1 1 0 0 0-1-1z"
                                                        fill-rule="evenodd"></path>
                                            </svg>
                                        </svg>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="signature-toggle mb-3">
                            <div class="sign">
                                
                                <section class="signature-preview" *ngIf="signStatus?.value">
                                    <h4>{{http?.loginData?.name}}</h4>
                                    <p>{{http?.loginData?.email}}</p>
                                    <p>{{http?.loginData?.countryCode}} {{http?.loginData?.phoneNumber}}</p>
                                </section>
                                <section class="toggle-switch">
                                    <div class="Signature">
                                        <span>Signature</span>
                                    </div>
                                    <div class="Signature-toggle">
                                        <label class="switch">
                                            <input type="checkbox" [formControl]="signStatus">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </section>
                            </div>
                            <!-- NEW BUTTONS -->
                            <div class="new-btn-row">
                                <button class="btn">
                                    <!-- <img src="../../../../assets/images/upload-pin.svg"> -->
                                    <div class="tooltip-container tooltip-hover">
                                        <div class="tooltip-reference">
                                            <button type="button" (click)="openUpload(uploadFile)"><img src="assets/images/upload-pin.svg">
                                            </button>
                                        </div>
                                        <section class="tooltip">
                                            <div class="arrow"></div>
                                            <div>Add attachment</div>
                                        </section>
                                    </div>
                                </button>
                                <!-- <button class="btn">
                                    <img src="../../../../assets/images/merge-pin.svg">
                                </button> -->
                                <button class="btn">
                                    <!-- <img src="../../../../assets/images/document-round.svg"> -->
                                    <div class="popover-container tooltip-container tooltip-hover"
                                    style="display: inline-block">
                                   <div class="tooltip-reference">
                                       <div class="btn-group add-booking-link insert-templates" dropdown>
                                           <button id="button-basic2" dropdownToggle type="button" class="btn"
                                                   aria-controls="dropdown-basic">
                                               <img src="/assets/images/document-pin.svg">
                                           </button>
                                           <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu" role="menu"
                                               aria-labelledby="button-basic" style="left: -103px;">
                                               <div class="email-templates">
                                                   <h4>Insert template</h4>
   
                                                   <ng-container *ngFor="let data of myModel?.templates">
                                                       <li role="menuitem" style="display: block"
                                                           (click)="selectTemplate(data)">
                                                           <a class="dropdown-item">
                                                               <div class="item-text">
                                                                   <h6>{{data?.name}}</h6>
                                                                   <p>{{data?.subject || '(no subject)'}}</p>
                                                               </div>
                                                           </a>
                                                       </li>
                                                   </ng-container>
                                               </div>
                                               <div class="manage-templates">
                                                   <button type="submit" class="text-button" (click)="openTemplate()">
                                                       Manage templates
                                                   </button>
                                               </div>
                                           </ul>
                                       </div>
                                   </div>
                                   <section class="tooltip">
                                       <div class="arrow"></div>
                                       <div>Insert template</div>
                                   </section>
                               </div>
                                </button>

                            </div>
                            <!-- <div class="button-row">
                                <div class="tooltip-container tooltip-hover">
                                    <div class="tooltip-reference">
                                        <button type="button" (click)="openUpload()"><img src="assets/images/upload-pin.svg">
                                        </button>
                                    </div>
                                    <section class="tooltip">
                                        <div class="arrow"></div>
                                        <div>Add attachment</div>
                                    </section>
                                </div>
                                <span class="mr-2">
                                    <img src="../../../../assets/images/merge-pin.svg">
                                </span>

                                <div class="popover-container tooltip-container tooltip-hover"
                                     style="display: inline-block">
                                    <div class="tooltip-reference">
                                        <div class="btn-group add-booking-link insert-templates" dropdown>
                                            <button id="button-basic2" dropdownToggle type="button" class="btn"
                                                    aria-controls="dropdown-basic">
                                                <img src="/assets/images/document-pin.svg">
                                            </button>
                                            <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu" role="menu"
                                                aria-labelledby="button-basic" style="left: -103px;">
                                                <div class="email-templates">
                                                    <h4>Insert template</h4>
    
                                                    <ng-container *ngFor="let data of myModel?.templates">
                                                        <li role="menuitem" style="display: block"
                                                            (click)="selectTemplate(data)">
                                                            <a class="dropdown-item">
                                                                <div class="item-text">
                                                                    <h6>{{data?.name}}</h6>
                                                                    <p>{{data?.subject || '(no subject)'}}</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ng-container>
                                                </div>
                                                <div class="manage-templates">
                                                    <button type="submit" class="text-button" (click)="openTemplate()">
                                                        Manage templates
                                                    </button>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <section class="tooltip">
                                        <div class="arrow"></div>
                                        <div>Insert template</div>
                                    </section>
                                </div>
                            </div> -->
                        </div>
                        <div class="form-group Associated-Contact">
                            <label class="required">Contact <span style="color:red">*</span></label>
                            <ng-multiselect-dropdown formControlName="contactId" [placeholder]="'Select Contact'"
                                                     [data]="myModel?.contacts" [settings]="dropdownSettings">
                            </ng-multiselect-dropdown>
                            <mat-error
                                    *ngIf="form.controls['contactId'].hasError('required') && form.controls.contactId.touched">
                                Please enter contact.
                            </mat-error>
                        </div>
                        <!-- -----------------New-code-------------------------- -->
                        <div class="or-text-main">Or</div> 
                        <!-- {{this.emails.value|json}} -->
                        <div class="upload-main-csv">
                            <div class="cancel-btn" *ngIf="this.emails?.value.length > 0" (click)="removeImportedEmails()">X</div>
                            <div class="text-lab">{{ this.emails?.value.length > 0 ? 'Uploaded successfully' :  'Upload CSV File'}}</div>
                            <img src="../../../../../assets/images/csv-icon.svg">
                            <button class="btn btn-browse" 
                                (click)="this.emails?.value.length <= 0 ? file.click() : openImportedEmailView() " >
                                {{this.emails?.value.length <= 0 ? 'Browse' : 'View Imported Emails'}}
                            </button>
                            <input accept=".csv" onclick="this.value=null;" hidden #file (change)="onCsvFileUpload($event.target.files[0])" type="file" name="" id="">
                        </div>

                
                        <h4 class="new-heading">When do you want to send the emails?</h4>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" [value]="1" formControlName="timingType">
                                <span> Right away</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" [value]="2" formControlName="timingType">
                                <span>At a specific time</span>
                            </label>
                        </div>

                        <div class="new-row" *ngIf="form.value.timingType === '2' || form.value.timingType === 2">
                            <div class="col-md-4 comman-row">
                                <div class="input-field">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Due Date</mat-label>
                                        <input matInput type="text" readonly formControlName="timing" bsDatepicker
                                               #dp="bsDatepicker" [minDate]="myModel.today">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4 time-picker form-group">
                                <mat-label>Time</mat-label>
                                <timepicker formControlName="timing"></timepicker>
                            </div>

                            <div class="col-md-4 comman-row">
                                <div class="input-field">
                                    <div class="btn-group add-btn select-opt" dropdown>
                                        <mat-form-field appearance="outline" class="select-height">
                                            <mat-label>Select Timezone</mat-label>
                                            <mat-select formControlName="timeZone">
                                                <mat-option *ngFor="let val of myModel?.timeZones" [value]="val">
                                                    {{val}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>


                <div class="modal-footer new-footer footer-btn text-left">
                    <ng-container *ngIf="this.myModel?.data?.status == BroadCastType.SCHEDULED; else elseTemplate">
                        <button type="submit" class="text-button" (click)="finalSubmit(BroadCastType.SCHEDULED)">Save and come back later</button>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <button type="submit" class="text-button" (click)="finalSubmit(BroadCastType.DRAFT)">Save and come back later</button>
                        <button type="submit" class="btn-outline-primary" (click)="finalSubmit(BroadCastType.SENT)">Send broadcast</button>
                    </ng-template>
                    
                </div>
            </div>
        </form>
    </div>


</div>

<ng-template #uploadFile>

    <div class="modal-header email_str_header">
        <section class="text">
            <h4>Attach a file</h4>
        </section>
    </div>
    <div class="modal-body" style="min-height: 200px;">
    
        <div class="loading" *ngIf="loading" style="color: blue;">UPLOADING
        </div>
    
        <div class="attach-file-upload" *ngIf="!loading">
            <div class="no-pointer-events">
                <img src="assets/images/ic_file_upload.svg">
            </div>
            <section class="add-file">
                <h4> Upload a file </h4>
                <h6> Drag and drop here or browse </h6>
                <p> All file types are acceptable </p>
                <input accept="image/x-png,image/gif,image/jpeg" multiple="" type="file"
                       (change)="uploadImage($event.target.files)">
            </section>
        </div>
    </div>
</ng-template>

