
<form [formGroup]="formInfo" (ngSubmit)="onPublish()">
 <div class="Clients_list_heading">  
    <h3 class="inter-page-heading">Create Form</h3>
    <div class="btn-combobox">
        <button class="back-btn" aria-label="Close" (click)="http.hideModal(); onDraft();" >Back</button>
        <button type="submit" class="btn-save btn-outline-primary"    (click)="http.hideModal();" [disabled]="!formInfo.valid">Save and Publish</button>
    </div>
</div>






<!-- <div class="header-for-smart-form-builder-main">
    <div class="left-col">
        <button class="icon-only" type="button" aria-label="Close" (click)="http.hideModal(); onDraft();">
            <img src="/assets/images/ic_close.svg">
        </button>
        <span>Edit form</span>        
    </div>
    <div class="right-col">
        <span class="all-changes-saved">All changes saved</span>
        <button type="submit" class="btn-save btn-outline-primary" (click)="http.hideModal();" [disabled]="!formInfo.valid">Save and publish</button>
    </div>
</div> -->

<div class="details-and-preview-main">
    <div class="details-main-left">
        <label class="comman-label">Details</label>
        <div class="short-description-of-form">
            Form name and description will both appear on the form itself and as a way to identify this form within Keap. The intended audience will determine what type of form you're building.
         </div>
         <div class="workspace-input">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label class="required">Form Name</mat-label>
                <input appInputRestriction="noSpecialChars" matInput maxlength="40" type="text" formControlName="formName" #input>
                <mat-hint align="end">{{input.value?.length || 0}}/40</mat-hint>
            </mat-form-field>
            <span class="max-length-labal">Max 26 charachters</span>
          </div>
          <div class="text-area-for-that">  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Form Description or Instructions</mat-label>
            <textarea matInput rows="5" type="text" formControlName="formDescription"></textarea>
        </mat-form-field>
          </div>
    </div>
    <div class="right-priview-label">
        <label class="comman-label">Preview</label>
        <span class="all-changes-saved">All changes saved</span>
    </div>
</div>
</form>

<form-builder 
#smartForm
[form]="smartFormBuilder" (change)="onChange($event)" class="smart-form-builder-main-form"></form-builder>
<!-- <div>
    <div class="well jsonviewer">
        <pre id="json"><code class="language-json" #json></code></pre>
    </div>
</div> -->