<div class="delete-comp xs">
    <div class="delete-comp-inner">
        <h4>Confirm close</h4>
        <div class="body-content">
            <p>Are you sure you want to close? Any unsaved progress will be lost.</p>
            <div class="button-row form-group">
                <button class="delete-btn" type="submit" (click)="closeMainPopup()">Close</button>
                <button class="text-button" type="button" aria-label="Close" (click)="http.hideModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>
